* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin-top: 100px
}
.card-wrapper {
    display: grid;
    width: 100%;
    padding: 60px;
    grid-template-columns: repeat(3,2fr);
    gap: 50px;
}
.card {
    overflow: hidden;
    cursor: pointer;
    height: 600px;
    width: 300px;
    position: relative;
}
.card:hover {
    box-shadow: 0px 0px 5px 0px silver;
}
.card-date {
    background-color: crimson;
    color: #fff;
    padding: 5px;
}
img {
    width: 300px;
    height: 400px;
    z-index: 0;
}
.select-card {
  height: 100px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.heart-icon {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: all ease-out 0.3s;
    z-index: 1;
}
.heart-icon.active {
    color: crimson;
}
header {
    width: 100%;
    height: 80px;
    background: crimson;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.one-side {
   /* display: flex;
    justify-content: space-around;
    */
    align-items: center;
    display: flex;
    gap: 30px;
    width: 50%;
}
.one-side .btn:nth-child(1) {
    margin-left: 50px;
    background: #fff;
    color: crimson;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2%;
    border-radius: 15px;
}

.one-side .btn:nth-child(2) {
    background: crimson;
    color: white;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2%;
    border-radius: 15px;

}

.one-side .btn:nth-child(3) {
    background: #fff;
    color: crimson;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2%;
    border-radius: 15px;

}

.one-side .btn:nth-child(4) {
    color: #fff;
    background: crimson;
    border: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2%;
    border-radius: 15px;

}
.second-side {
    display: flex;
    gap: 30px;
    width: 40%;
    align-items: center;
    text-align: center;
}
.second-side .number {
    margin-top: 15px;
    color: #fff;
    font-size: 20px;
    font-weight:bold;
    letter-spacing: 0.2%;
}
.second-side .big-btn {
    padding: 8px;
    border-radius: 15px;
    background: crimson;
    color: white;
    border: 3px solid #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2%;
}
.second-side .box {
    display: flex;
    gap: 15px;
    padding: 10px 50px;
    background: crimson ;
    color: #fff;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

}
.second-side .til {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2%;
    margin-top: 10px;
    border-radius: 15px;
    color: #ffffffb3;
} 
.second-side .til:nth-child(1) {
    color: #fff;
}