* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin-top: 100px
}
.card-wrapper {
    display: grid;
    width: 100%;
    padding: 60px;
    grid-template-columns: repeat(3,2fr);
    gap: 50px;
}
.card {
    overflow: hidden;
    cursor: pointer;
    height: 600px;
    width: 300px;
   
}
.card:hover {
    box-shadow: 0px 0px 5px 0px silver;
}
.card-date {
    background-color: crimson;
    color: #fff;
    padding: 5px;
}
img {
    width: 300px;
    height: 400px;
}
.select-card {
  height: 100px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
